/* Contrast ratio of fonts/background is 9.88:1*/

:root {
  /* Dark Mode variables */
  --box-shadow-color: rgba(250, 250, 250, 0.35); 
  --border-color: white;
  --text-decoration-color: white;
  --color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Tajawal', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: #bcbbff;
  background-color: #181818;
  overflow-x: hidden;
}

.bodyLightmode {
  display: flex;
  flex-direction: column;
  color:#181818;
  background-color: whitesmoke;
  /* Light Mode variables */
  --box-shadow-color: rgba(0, 0, 0, 0.35); 
  --border-color: black;
  --text-decoration-color: black;
  --color: gray;
}

h2 {
  font-family: 'Limelight', cursive;
  font-size: 2.2rem;
}

h3 {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: 'Fresca', sans-serif;
  font-size: 1.4rem;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  line-height: 1.5;
}

a {
  position: relative;
  text-decoration: none;
  color:inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.3;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 1.6rem;
}

#logo {
  max-width: 23rem;
  height: auto;
  margin-top: 1%;
}

.aNav:hover {
  opacity: 0.7;
}

.aNav:active {
  opacity: 0.3;
}

.aNav:after {
  position: absolute;
  content: "";
  background-color: rgba(245, 91, 91, 0.473);
  height: 0.2rem;
  width: 0;
  left:0;
  bottom: -0.1rem;
  transition: 0.4s;
}

.aNav:hover:after {
  width: 100%;
}

.button-nav {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
  padding: 8%;
  font-size: 2.2rem;
  list-style: none;
}

.toggle {
  margin-top: 1%;
  color: inherit;
  text-align: center;
  word-wrap: break-word;
  max-width: 4rem;
  font-size: 0.8rem;
  cursor: pointer;
  float:right;
}

.fullScreen {
  font-size: 1.3rem;
  max-width: 6rem;
}

.mobile {
  display: none;
}

#about-me {
  display: flex;
  flex-direction: column;
  margin: 4rem 2%;
  width: 95%;
  height: 70vh;
}

#intro {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3% auto;
}

.sectionTitle {
  margin-left: 5%;
}

#mainDes {
  font-family: 'Tajawal', sans-serif;
  font-size: 2rem;
  max-width: 40rem;
  margin: 3% 3%;
}

#subDes {
  min-height: 14.4rem;
}

#imgContainer{
  align-self: center;
  width: 24rem;
}

.aboutImages {
  width: 100%;
  max-width: 24rem;
  border: 0.2rem solid #bcbbff;
  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
}

.standByImg {
  display: none;
}

#introBtn {
  width: 8rem;
  height: 4rem;
  background-color: transparent;
  color: inherit;
  border: 3px solid #bcbbff;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  margin-top: 1%;
}

#introBtn:hover {
  background-color: #bcbbff80;
  transition: 500ms;
}

#introBtn:active {
  opacity: 0.8;
}

#portfolio {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 4rem 2%;
  width: 95%;
}

#portfolioInstancesContainer {
  margin: 3%
}

.portfolioInstance {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 0.9rem;
  box-shadow: var(--box-shadow-color) 0px 5px 15px;
  margin: 1.5rem 0rem 2.5rem;
  padding: 1.9rem 1.8rem 1.6rem;
  min-height: 22rem;
}

.projectTitle {
  margin-left: 4%;
  margin-bottom: 0.5rem;
}

.projectDescription {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  margin-left: 4%;
}

.portfolioImg {
  max-width: 28rem;
  border-radius: 0.9rem;
  margin-top: 0.6rem;
}

.projectDescriptionText {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 0.6rem;
  margin-right: 0.5rem;
  flex: 1;
  overflow: hidden;
}

.projectDescriptionText a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.projectTechStack {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--color);
  flex-wrap: wrap;
}

.projectTechStackItem {
  display: inline-block;
}

#skills {
  width: 95%;
  margin: 4rem 2%;
  width: 95%;
}

.skillsContainer {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.9rem;
  box-shadow: var(--box-shadow-color) 0px 5px 15px;
  margin: 3rem 0rem 2.5rem;
  padding: 1.9rem 1.8rem 1.6rem;
}

@media (max-width: 768px) {
  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .skillsContainer {
    /* grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr)); */
    grid-template-columns: 1fr;
  }
}

.skillsGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  padding: 0.3rem;
  border: 1px solid var(--border-color);
  border-radius: 0.9rem;
  /* box-shadow: var(--box-shadow-color) 0px 5px 15px; */
}

.skillsGroupImgs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0.5rem 0rem;
}

.skillsImgs {
  max-width: 5rem;
  padding: 0.3rem;
  margin: 0.1rem;
}

@media only screen and (max-width: 890px) {

  .mobile {
    display: inline;
  }

  .fullScreen {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
    flex-wrap: nowrap;
    max-width: 40rem;
    min-width: 18.1rem;
    height: auto;
    margin: 4% auto;
  }

  .mobileView {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1%;
  }

  .mobileButtons {
    display: flex;
    float: right;
    margin-right: 1%;
  }

  #logo {
    max-width: 15rem;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
  }

  #headerButtonNav {
    margin-top: 1%;
  }

  header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
  }

  header ul li {
    font-size: 1rem;
    transition: 300ms;
  }

  .button-nav {
    display: inline-block;
    background: transparent;
    border: 3px solid var(--button-color, white);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px black;
    --button-color: #bcbbff;
    margin-right: 5%;
    cursor: pointer;
  }
    
  .button-nav .line {
    box-shadow: 1px 1px 1px #181818;
    transition: 600ms;
  }
    
  .button-nav[aria-pressed="true"] :is(.top, .bottom){
    y: 50;
  }

  header nav .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 0;
    margin-left: 0;
    color:inherit;
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1;
    background: rgba(235, 213, 239, 0.1);
    overflow: hidden;
  }

  header nav .menu[aria-pressed="true"] {
    max-height: 6rem;
  }

  #headerMenuNav li a {
    font-size: 1.3rem;
  }

  #intro {
    flex-direction: column;
    gap: 0.3rem;
  }

  #imgContainer {
    width: 90%;
    margin: 3% auto;
  }

  #portfolio {
    margin-top: 20rem;
  }

  .projectDescription {
    flex-direction: column;
    gap: 5%;
  }

  .portfolioImg {
    max-width: 19rem;
    margin: 3% 0;
    align-self: center;
  }
}

@media only screen and (min-width: 890px) {
  #intro {
    height: 100%;
  }
}

/*.btn {
  display: inline-block;
  background-color: rgb(222, 184, 135, 0.8);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-decoration: none;
  color: black;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.btnOne::before  {
  content: "";
  position: absolute;
  background-color: rgba(235, 222, 120, 0.9);
  width: 0px;
  height: 0px;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.7s, height 0.7s;
}

.btnTwo::before  {
  content: "";
  position: absolute;
  background-color: rgba(235, 222, 120, 0.9);
  width: 0px;
  height: 0px;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.7s, height 0.7s;
}

.btnOne:hover::before, .btnTwo:hover::before {
  width: 300px;
  height: 300px;
}

.btn span {
  position: relative;
  z-index: 1;
}*/